#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 2%;
  width: 100vw;
}

.componentes {
  display: flex;
  justify-content: center;
  gap: 5vw;
  border-radius: 10px;
  width: 90vw;
}

.buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
  padding: 5%;
  border-radius: 10px;
}

.buscador input {
  background-color: white;
  color: black;
  width: 55%;
  height: 2rem;
  border-radius: 5px;
}

.miapi {
  padding: 5%;
  border-radius: 10px;
}

.seleccion {
  background-color: white;
  color: black;
  width: 50%;
  height: 2rem;
  border-radius: 5px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
